<h1 class="mt-5 mb-5">Bienvenido a TodoFotos <i class="fas fa-camera-retro mx-2"></i></h1>





<%= link_to "Registrate", new_user_registration_path, class: "btn btn-success" %>
<%= link_to "Inicia Sesion", new_user_session_path, class: "btn btn-primary" %>